.middle{
    width: 100%;
    height: 100%;
    max-width: 2000px;
    margin-left: -10px;
    display: grid;
    grid-template-columns: 6fr 7fr;
    max-height: 780px;
}
.about-picture{
    width: 100%;
    height: 100%;
    max-width: 690px;
    max-height: 770px;
    min-width: 450px;
    border-radius: 20px;
    margin-left: 30px;
    margin-top: 20px;
}
.slogan{
    font-size: 80px;
    padding-left: 10px;
    max-width: 1100px;
    min-width: 500px;
    align-items: center;
    font-family: fantasy;
    border-radius: 20px;
    margin-right: 20px;
    border-color: rgb(233, 226, 213);
    background-color: rgb(233, 226, 213);
font-weight: bold;
margin-top: 20px;
    justify-content: center;
    padding-top: 100px;
    margin-left: 40px;
}



.us{
max-height: 410px;
background-color: rgb(233, 226, 213);
border-radius: 30px;
width: 100%;
margin-left: 10px;
margin-top: 40px;
margin-bottom: 80px;
padding-bottom: 40px;
}
.our{
display:inline;
    font-family: fantasy;
    width: 90%;
    font-size: 40px;
}
.our_text{
    width: 90%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
}
.bottom{
    margin-top: 30px;
    margin-left: -20px;
    width: 101%;
    height: 400px;
    background-color:  rgb(6, 43, 12);
    color: white;
    font-weight: bold;
    display: grid;
    justify-items: center;
}
.danni{
    justify-items: center;
}
.n{
    padding-top: 10px;
    font-size: 50px;
    margin-bottom: 20px;
}
.no{
   justify-items: center;
}
.us1{
    max-height: 550px;
    background-color: rgb(233, 226, 213);
    border-radius: 30px;
    width: 100%;
    margin-left: 0px;
    margin-top: 80px;
    }
    .social_mediaa{
        width: 35px;
        mix-blend-mode: none;
        margin-top: 0px;
        padding-left: 10px;
        margin-top: -10px;
        margin-bottom: 30px;
     }